<div class="wrapper">
    <header>
        <h5>Welcome, {{username.slice(0,1).toUpperCase() + username.slice(1)}}</h5>
        <button (click)="signOut()" class="btn">Sign out</button>
    </header>

    <main>
        <h5>Your watchlist</h5>

        <ng-container *ngIf="movies === undefined || movies.length <= 0">
            <div class="watchlist">
                <p>Your watchlist is empty</p>
            </div>
            <button routerLink="/browse/movies/popular" class="btn">Browse movies</button>
        </ng-container>

        <ng-container *ngIf="movies !== undefined">
            <div class="watchlist">
                <div *ngFor="let movie of movies" class="movie-card">
                    <a routerLink="/movie/details/{{movie.id}}">
                        <div class="poster">
                            <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="">
                        </div>
                        <div class="content">
                            <p>{{(movie.title || movie.name) | sliceTextAddPeriods: 14 }}</p>
                        </div>
                    </a>
                    <div class="controls">
                        <button (click)="removeFromWatchlish(movie.id)" class="btn btn-control">Remove from
                            watchlist</button>
                    </div>
                </div>
            </div>
        </ng-container>

    </main>
</div>